In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime
import sys

# Function to write output to both console and file
def write_output(content, print_content=True):
    """Write content to output.txt file and optionally print to console"""
    with open('output.txt', 'a', encoding='utf-8') as f:
        f.write(str(content) + '\n')
    if print_content:
        print(content)

# Clear the output file and add header
with open('output.txt', 'w', encoding='utf-8') as f:
    f.write("Book Recommendation System Output\n")
    f.write(f"Generated on: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}\n")
    f.write("=" * 50 + '\n\n')

write_output("Starting Book Recommendation System Analysis...")

Starting Book Recommendation System Analysis...

In [3]:
write_output("Loading datasets...")
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')
write_output(f"Datasets loaded successfully!")
write_output(f"Books shape: {books.shape}")
write_output(f"Ratings shape: {ratings.shape}")
write_output(f"Users shape: {users.shape}")

Loading datasets...

C:\Users\Asus\AppData\Local\Temp\ipykernel_26316\2966361076.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

Datasets loaded successfully!
Books shape: (271360, 8)
Ratings shape: (1149780, 3)
Users shape: (278858, 3)

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
shapes = books.shape, ratings.shape, users.shape
write_output(f"Dataset shapes - Books: {shapes[0]}, Ratings: {shapes[1]}, Users: {shapes[2]}")
shapes

Dataset shapes - Books: (271360, 8), Ratings: (1149780, 3), Users: (278858, 3)

((271360, 8), (1149780, 3), (278858, 3))

In [8]:
null_books = books.isnull().sum()
write_output(f"Null values in Books dataset: {null_books.sum()}")
null_books

Null values in Books dataset: 7

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
null_ratings = ratings.isnull().sum()
write_output(f"Null values in Ratings dataset: {null_ratings.sum()}")
null_ratings

Null values in Ratings dataset: 0

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
null_users = users.isnull().sum()
write_output(f"Null values in Users dataset: {null_users.sum()}")
null_users

Null values in Users dataset: 110762

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
duplicates = books.duplicated().sum(), ratings.duplicated().sum(), users.duplicated().sum()
write_output(f"Duplicate values - Books: {duplicates[0]}, Ratings: {duplicates[1]}, Users: {duplicates[2]}")
duplicates

Duplicate values - Books: 0, Ratings: 0, Users: 0

(0, 0, 0)

## Popularity based recommendation system

we will take top 50 books based on user ratings.
To be fair we have applied minimum cap on number of reviews
To find the rating for each book we would be required to work on ratings and books simentaneously.
So we will merge both of those data based on ISBN column as it is common in both the datasets.

In [12]:
write_output("\n" + "="*50)
write_output("POPULARITY BASED RECOMMENDATION SYSTEM")
write_output("="*50)

==================================================
POPULARITY BASED RECOMMENDATION SYSTEM
==================================================

In [13]:
ratings_with_name = ratings.merge(books, on='ISBN')
write_output(f"Merged ratings with books: {ratings_with_name.shape}")
write_output(f"Original ratings shape: {ratings.shape}")
write_output(f"Some books from ratings were not found in books dataset")
ratings_with_name
# as we can see that number of rows in ratings_with_name is less than ratings, it means that some of the books in ratings are not present in books dataset.
# So we will drop those rows from ratings dataset.

Merged ratings with books: (1031136, 10)
Original ratings shape: (1149780, 3)
Some books from ratings were not found in books dataset

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276704,0876044011,0,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...
1031132,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1031133,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...
1031134,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1031135,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...

In [14]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [15]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating': 'avg_ratings'}, inplace=True)
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.     0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241068                                Ã?Â?sterlich leben.     7.000000
241069                              Ã?Â?stlich der Berge.     2.666667
241070                                  Ã?Â?thique en toc     4.000000

[241071 rows x 2 columns]

In [16]:
popularity_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popularity_df

,Book-Title,num_ratings,avg_ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [17]:
popular_df = popularity_df[popularity_df['num_ratings'] >= 250].sort_values('avg_ratings', ascending=False).head(50)
popular_df

,Book-Title,num_ratings,avg_ratings
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [18]:
# now i need author and image url for each book in popular_df
# we have applied drop_duplicates on Book-Title column as there are multiple ISBNs for same book in books dataset.
popular_df = popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_ratings']].reset_index(drop=True)

# Log top 10 popular books to output file
write_output("\nTop 10 Popular Books:")
for i, (_, book) in enumerate(popular_df.head(10).iterrows(), 1):
    write_output(f"{i}. {book['Book-Title']} by {book['Book-Author']}")
    write_output(f"   Average Rating: {book['avg_ratings']:.2f}, Number of Ratings: {book['num_ratings']}")

popular_df

Top 10 Popular Books:
1. Harry Potter and the Prisoner of Azkaban (Book 3) by J. K. Rowling
   Average Rating: 5.85, Number of Ratings: 428
2. Harry Potter and the Goblet of Fire (Book 4) by J. K. Rowling
   Average Rating: 5.82, Number of Ratings: 387
3. Harry Potter and the Sorcerer's Stone (Book 1) by J. K. Rowling
   Average Rating: 5.74, Number of Ratings: 278
4. Harry Potter and the Order of the Phoenix (Book 5) by J. K. Rowling
   Average Rating: 5.50, Number of Ratings: 347
5. Harry Potter and the Chamber of Secrets (Book 2) by J. K. Rowling
   Average Rating: 5.18, Number of Ratings: 556
6. The Hobbit : The Enchanting Prelude to The Lord of the Rings by J.R.R. TOLKIEN
   Average Rating: 5.01, Number of Ratings: 281
7. The Fellowship of the Ring (The Lord of the Rings, Part 1) by J.R.R. TOLKIEN
   Average Rating: 4.95, Number of Ratings: 368
8. Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback)) by J. K. Rowling
   Average Rating: 4.90, Number of Ratings: 575
9. The Two Towers (The Lord of the Rings, Part 2) by J.R.R. TOLKIEN
   Average Rating: 4.88, Number of Ratings: 260
10. To Kill a Mockingbird by Harper Lee
   Average Rating: 4.70, Number of Ratings: 510

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
2,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
3,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
4,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
5,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
6,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
7,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
8,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
9,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
10,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
11,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
12,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
13,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
14,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
15,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
16,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
17,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
18,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
19,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
20,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
21,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
22,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
23,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
24,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
25,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
26,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
27,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
28,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
29,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
30,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
31,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
32,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
33,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
34,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
35,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
36,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
37,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
38,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
39,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
40,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
41,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
42,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
43,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
44,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
45,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
46,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
47,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
48,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
49,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

Above we have successfully made book recommendation system based on popularity. Results have been saved to output.txt file.

In [19]:
write_output("Popularity-based recommendation system completed successfully!")

Popularity-based recommendation system completed successfully!

## Collaborative filtering based recommendation system

In [20]:
write_output("\n" + "="*50)
write_output("COLLABORATIVE FILTERING RECOMMENDATION SYSTEM")
write_output("="*50)

==================================================
COLLABORATIVE FILTERING RECOMMENDATION SYSTEM
==================================================

In [21]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
k_users = x[x].index
write_output(f"Users with more than 200 ratings: {len(k_users)}")
write_output(f"Total users: {len(x)}")

Users with more than 200 ratings: 811
Total users: 92106

In [22]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(k_users)]

In [23]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] > 50
famous_books = y[y].index
write_output(f"Books with more than 50 ratings: {len(famous_books)}")
write_output(f"Total books after user filtering: {len(y)}")

Books with more than 50 ratings: 679
Total books after user filtering: 155845

In [24]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [25]:
final_ratings_clean = final_ratings.drop_duplicates()
write_output(f"Final dataset shape after filtering and cleaning: {final_ratings_clean.shape}")
write_output(f"Unique users in final dataset: {final_ratings_clean['User-ID'].nunique()}")
write_output(f"Unique books in final dataset: {final_ratings_clean['Book-Title'].nunique()}")
final_ratings_clean

Final dataset shape after filtering and cleaning: (57236, 10)
Unique users in final dataset: 810
Unique books in final dataset: 679

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1163,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1165,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1168,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1174,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
1029196,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...
1029197,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...
1029270,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...
1029309,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029310,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...

In [26]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating').fillna(0)
write_output(f"Pivot table created with shape: {pt.shape}")
write_output(f"Books in pivot table: {pt.shape[0]}")
write_output(f"Users in pivot table: {pt.shape[1]}")
pt

Pivot table created with shape: (679, 810)
Books in pivot table: 679
Users in pivot table: 810
Users in pivot table: 810

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [27]:
from sklearn.metrics.pairwise import cosine_similarity # Calculate cosine similarity/euclidean distance
similarity_scores = cosine_similarity(pt)
write_output(f"Cosine similarity matrix created with shape: {similarity_scores.shape}")
similarity_scores.shape

Cosine similarity matrix created with shape: (679, 679)

(679, 679)

In [28]:
# now we will make a recommend function which will take book title as input and return top 5 similar books based on cosine similarity
def recommend(book_name): 
    try:
        index = np.where(pt.index==book_name)[0][0]  # get the index of the book name in the pivot table
        distance = similarity_scores[index]  # get the similarity scores for that book
        similar_books = sorted(list(enumerate(distance)), key=lambda x: x[1], reverse=True)[1:6]  # sort the books based on similarity scores and get top 5
        
        write_output(f"\nRecommendations for '{book_name}':")
        recommendations = []
        for i, (idx, score) in enumerate(similar_books, 1):
            book_title = pt.index[idx]
            write_output(f"  {i}. {book_title} (Similarity: {score:.4f})")
            recommendations.append(book_title)
            print(book_title)
        
        return recommendations
    except IndexError:
        error_msg = f"Book '{book_name}' not found in the dataset."
        write_output(error_msg)
        print(error_msg)
        return []

write_output("Recommendation function created successfully!")

Recommendation function created successfully!

In [29]:
write_output("\n" + "="*30)
write_output("TESTING RECOMMENDATIONS")
write_output("="*30)

# Test the recommendation system
recommendations = recommend('The Da Vinci Code')

==============================
TESTING RECOMMENDATIONS
==============================

Recommendations for 'The Da Vinci Code':
  1. Angels &amp; Demons (Similarity: 0.2882)
Angels &amp; Demons
  2. Touching Evil (Similarity: 0.2375)
Touching Evil
  3. Saving Faith (Similarity: 0.2211)
Saving Faith
  4. The Sweet Potato Queens' Book of Love (Similarity: 0.2134)
The Sweet Potato Queens' Book of Love
  5. Middlesex: A Novel (Similarity: 0.2133)
Middlesex: A Novel

In [30]:
# Test with multiple books
test_books = ['Angels & Demons', 'The Client', 'A Time to Kill', 'Interview with the Vampire']

for book in test_books:
    if book in pt.index:
        recommend(book)
    else:
        write_output(f"'{book}' not found in the filtered dataset")

# Final summary
write_output("\n" + "="*50)
write_output("ANALYSIS SUMMARY")
write_output("="*50)
write_output(f"Total books in original dataset: {len(books)}")
write_output(f"Total books used in collaborative filtering: {pt.shape[0]}")
write_output(f"Total users used in collaborative filtering: {pt.shape[1]}")
write_output(f"Popular books identified: {len(popular_df)}")
write_output("\nAnalysis completed! All results saved to output.txt")

'Angels & Demons' not found in the filtered dataset

Recommendations for 'The Client':
  1. The Pelican Brief (Similarity: 0.4447)
The Pelican Brief
  2. The Chamber (Similarity: 0.3864)
The Chamber
  3. A Time to Kill (Similarity: 0.3632)
A Time to Kill
  4. The Rainmaker (Similarity: 0.3539)
The Rainmaker
  5. The Firm (Similarity: 0.3400)
The Firm

Recommendations for 'A Time to Kill':
  1. The Pelican Brief (Similarity: 0.3943)
The Pelican Brief
  2. The Client (Similarity: 0.3632)
The Client
  3. The Firm (Similarity: 0.3312)
The Firm
  4. The Chamber (Similarity: 0.2905)
The Chamber
  5. The Rainmaker (Similarity: 0.2768)
The Rainmaker

Recommendations for 'Interview with the Vampire':
  1. The Vampire Lestat (Vampire Chronicles, Book II) (Similarity: 0.4253)
The Vampire Lestat (Vampire Chronicles, Book II)
  2. The Tale of the Body Thief (Vampire Chronicles (Paperback)) (Similarity: 0.3833)
The Tale of the Body Thief (Vampire Chronicles (Paperback))
  3. The Witching Hour (Lives of the Mayfair Witches) (Similarity: 0.3097)
The Witching Hour (Lives of the Mayfair Witches)
  4. The Queen of the Damned (Vampire Chronicles (Paperback)) (Similarity: 0.2635)
The Queen of the Damned (Vampire Chronicles (Paperback))
  5. Skeleton Crew (Similarity: 0.2434)
Skeleton Crew

==================================================
ANALYSIS SUMMARY
==================================================
Total books in original dataset: 271360
Total books used in collaborative filtering: 679
Total users used in collaborative filtering: 810
Popular books identified: 50

Analysis completed! All results saved to output.txt